<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/toro/toro/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Feb 2024 11:04:56 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user/assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="user/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="user/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="user/assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="user/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="user/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="user/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="user/assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="user/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="user/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="user/assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="user/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="user/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="user/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>

</head>

<body>

    <div class="main-wrapper">
        <header class="header-area section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between ">
                    <div class="col-xl-4 col-lg-4 d-flex position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                    <li class="position-static">
                                        <a class="" href="/">Home</a>
                                    </li>
                                    <!-- <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu-width">
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="contact-us.html">Contact Page</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="comming-soon.html">Comming Soon 01</a></li>
                                            <li><a href="comming-soon-2.html">Comming Soon 02</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a class="" href="/shop">Shop</a>
                                    </li>
                                    <!-- <li><a href="shop-collection-1.html">Collections <i class="fa fa-angle-down"></i> </a>
                                        <ul class="sub-menu-width">
                                            <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                            <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                            <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-2">
                        <div class="logo logo-width ms-4 ps-3 ">
                            <a href="/">
                                <img src="user/assets/images/logo/logo-no-background.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style header-wishlist">
                                <a href="/wishlist"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="same-style cart-wrap" id="shoppingCartid">
                                <a href="/cart" class="cart ">
                                    <i class="dlicon shopping_bag-20"></i>
                                    <% if(cartItems){ %>
                                    <span class="count-style">
                                         <%= cartItems.products.length %>
                                    </span>
                                    <% } %>
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="same-style">
                                <a class="" href="/login">
                                    <i class="ri-user-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="index.html">
                                <img alt="" src="user/assets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style cart-wrap">
                                    <a href="#" class="cart-active">
                                        <i class="dlicon shopping_bag-20"></i>
                                        <span class="count-style">02</span>
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search start -->
        <div class="search-content-wrap main-search-active">
            <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="search-content">
                <p>Start typing and press Enter to search</p>
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search">
                    <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                </form>
            </div>
        </div>
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="user/assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Bejewelled velvet sandals</a></h4>
                                <span> 1 × $49.00 </span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="user/assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Contrast faux fur jacket</a></h4>
                                <span> 1 × $49.00 </span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- aside start -->
        <div class="header-aside-active">
            <div class="header-aside-wrap">
                <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="header-aside-content">
                    <div class="mobile-menu-area">
                        <div class="mobile-search">
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Search entire store…">
                                <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                            </form>
                        </div>
                        <div class="mobile-menu-wrap">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li class="menu-item-has-children"><a href="index.html">Home</a>
                                            <ul class="dropdown">
                                                <li class="menu-item-has-children"><a href="#">Demo Group 01</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index.html">Home 01</a></li>
                                                        <li><a href="index-2.html">Home 02</a></li>
                                                        <li><a href="index-3.html">Home 03</a></li>
                                                        <li><a href="index-4.html">Home 04</a></li>
                                                        <li><a href="index-5.html">Home 05</a></li>
                                                        <li><a href="index-6.html">Home 06</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Demo Group 02</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index-7.html">Home 07</a></li>
                                                        <li><a href="index-8.html">Home 08</a></li>
                                                        <li><a href="index-9.html">Home 09</a></li>
                                                        <li><a href="index-10.html">Home 10</a></li>
                                                        <li><a href="index-11.html">Home 11</a></li>
                                                        <li><a href="index-12.html">Home 12</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Demo Group 03</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index-13.html">Home 13</a></li>
                                                        <li><a href="index-14.html">Home 14</a></li>
                                                        <li><a href="index-15.html">Home 15</a></li>
                                                        <li><a href="index-16.html">Home 16</a></li>
                                                        <li><a href="index-17.html">Home 17</a></li>
                                                        <li><a href="index-18.html">Home 18</a></li>
                                                        <li><a href="index-19.html">Home 19</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contact Page</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                                <li><a href="comming-soon.html">Comming Soon 01</a></li>
                                                <li><a href="comming-soon-2.html">Comming Soon 02</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a href="shop-fullwide.html">shop</a>
                                            <ul class="dropdown">
                                                <li class="menu-item-has-children"><a href="#">Shop Layout</a>
                                                    <ul class="dropdown">
                                                        <li><a href="shop-fullwide.html">Shop Fullwidth</a></li>
                                                        <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                                        <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                                        <li><a href="shop-3-col.html">Shop 03 Columns</a></li>
                                                        <li><a href="shop-2-col.html">Shop 02 Columns</a></li>
                                                        <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                                        <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Product Layout</a>
                                                    <ul class="dropdown">
                                                        <li><a href="product-details.html">Single 01</a></li>
                                                        <li><a href="product-details-2.html">Single 02</a></li>
                                                        <li><a href="product-details-group.html">Grouped</a></li>
                                                        <li><a href="product-details-sticky.html">Sticky Info</a></li>
                                                        <li><a href="product-details-configurable.html">Configurable</a>
                                                        </li>
                                                        <li><a href="product-details-thumbnail.html">Thumbnail</a></li>
                                                        <li><a href="product-details-video.html">Video</a></li>
                                                        <li><a href="product-details-affiliate.html">Affiliate</a></li>
                                                        <li><a href="product-details-sidebar.html">Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Shop Pages </a>
                                                    <ul class="dropdown">
                                                        <li><a href="my-account.html">My Account</a></li>
                                                        <li><a href="checkout.html">Check Out</a></li>
                                                        <li><a href="cart.html">Shopping Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="order-tracking.html">Order Tracking</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                        <li><a href="login-register.html">login / register</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a
                                                href="shop-collection-1.html">Collection</a>
                                            <ul class="dropdown">
                                                <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                                <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                                <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a href="blog.html">Blog</a>
                                            <ul class="dropdown">
                                                <li><a href="blog.html">Blog Style 01</a></li>
                                                <li><a href="blog-2.html">Blog Style 02</a></li>
                                                <li><a href="blog-3.html">Blog Style 03</a></li>
                                                <li><a href="blog-details.html">Single Post Style 01</a></li>
                                                <li><a href="blog-details-2.html">Single Post Style 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-instagram.html">Instagram Shop </a></li>
                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                        </div>
                        <div class="mobile-curr-lang-wrap">
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-language-active" href="#">Language <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown lang-dropdown-active">
                                    <ul>
                                        <li><a href="#">English (US)</a></li>
                                        <li><a href="#">English (UK)</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-currency-active" href="#">Currency <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown curr-dropdown-active">
                                    <ul>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">Real</a></li>
                                        <li><a href="#">BDT</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-account-active" href="#">My Account <i
                                        class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown account-dropdown-active">
                                    <ul>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Creat Account</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-aside-menu">
                        <nav>
                            <ul>
                                <li><a href="#">About Toro</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">New Look</a></li>
                            </ul>
                        </nav>
                    </div>
                    <img src="user/assets/images/icon-img/payments.png" alt="payment">
                    <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum
                        justo dapibus.</p>
                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                            <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                            <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet
                                Nam</li>
                        </ul>
                    </div>
                    <div class="social-icon-style mb-25">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2>My Account</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li><span> &gt; </span></li>
                        <li class="active"> My Account </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="my-account-area pt-100 pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="myaccount-tab-menu nav flex-column " role="tablist">
                            <a href="#dashboad" class="active" data-bs-toggle="tab">
                                Profile Details</a>
                            <a href="#orders" data-bs-toggle="tab"> Orders</a>
                            <a href="#download" data-bs-toggle="tab"> Wallet</a>
                            <a href="#address-edit" data-bs-toggle="tab"> address</a>
                            <a href="#account-info" data-bs-toggle="tab"> Edit Profile</a>
                            <a href="/logout"> Logout</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->
                        <div class="tab-content ps-5 pe-5" id="myaccountContent">
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                    <div class="myaccount-content table-responsive">
                                        <table class="table align-middle table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>Name :</td>
                                                    <td><%= userData.name %></td>
                                                </tr>
                                                <tr>
                                                    <td>Email :</td>
                                                    <td><%= userData.email %></td>
                                                </tr>
                                                <tr>
                                                    <td>Phone :</td>
                                                    <td><%= userData.phone %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
                                        </div>
                                    </div>
                            </div>
                            <!-- Edit User Modal -->
                            <div class="modal" id="editUserModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Profile</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body p-4">
                                                
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Name :</label>
                                                        <input type="text" class="form-control" id="editNameId"
                                                            name="editName" value="<%= userData.name %>" >
                                                            <p id="editNameErr" class="text-danger "></p>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="pincode" class="form-label">Phone :</label>
                                                        <input type="number" class="form-control" id="editPhoneId"
                                                            name="editPhone" value="<%= userData.phone %>">
                                                            <p id="editPhoneErr" class="text-danger "></p>
                                                    </div>
                                                    <p id="emptyError" class="text-danger"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" id="saveEditUser"  class="btn btn-primary" onclick="editUser(this)">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Edit User Modal End -->
                            <!-- Single Tab Content End -->
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="orders" role="tabpanel">
                                <div class="myaccount-content">
                                    <% if(orders.length >= 1){ %>
                                    <div class="myaccount-table table-responsive text-center">
                                        <% orders.forEach((order)=>{ %>
                                            <div class="d-flex mb-4 bg-light border  justify-content-between p-3">
                                                <div class="d-block ps-3" style="max-width: 100px;">
                                                    <h5 class="fw-semibold "><%= order.products.length %> Items</h5>
                                                    <div>
                                                        <% order.products.forEach((prod)=>{ %>
                                                            <img src="/uploads/<%= prod.productId.images[0] %>" style="width:60px; border-radius: 3px;" alt="">
                                                        <% }) %>
                                                    </div>
                                                </div>
                                                <div >
                                                    <p><%= order.orderDate.toLocaleDateString() %></p>
                                                    <p>$<%= order.orderAmount.toFixed(2) %></p>
                                                </div>
                                                <div class="pe-2">
                                                    <a type="button" class="btn btn-dark" href="/orderDetails/<%= order._id %>">View</a>
                                                </div>                
                                            </div>
                                        <% }) %>
                                    </div>
                                    <% }else{ %>
                                        <div>
                                            <p class="text-center text-danger ">No Orders</p>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="download" role="tabpanel">
                                <div class="myaccount-content">
                                    <div class="myaccount-table table-responsive" id="walletArea">
                                        <h3 class="fw-light">Total Balance</h3>
                                        <h1 class="fw-semibold ">$ <%= walletb.balance.toFixed(2) %></h1>
                                        <table class="table" style="margin-top: 40px;">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Transactions</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div class="d-flex " style="margin-top: 40px;">
                                                    <input type="number" class="form-control w-25" id="addAmountId" placeholder="Enter Amount">
                                                    <button class="btn btn-dark" onclick="addMoney()">Add Amount</button>
                                                </div>
                                                <p class="text-danger" id="addAmountErr"></p>
                                                <div>
                                                    <% wallett.transaction.forEach((transct)=>{ %>
                                                        <tr>
                                                            <td><%= transct.creditOrDebit %></td>
                                                            <td>$<%= transct.amount.toFixed(2) %></td>
                                                            <td><%= transct.time.toLocaleDateString() %></td>
                                                        </tr>
                                                   <% }) %>
                                                </div>
                                            </tbody>
                                        </table>
                                        <div class="p-4">
                                        <% if(wallett.transaction.length == 0 ){ %>
                                        <h5 class="text-center text-danger ">No Transactions </h5>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                <div class="myaccount-content" id="reloadaddress">
                                    <div class="addressessDiv">
                                        <span class="addressess">Saved Addresses</span>
                                        <button type="button" class="check-btn sqr-btn addAdress" data-bs-toggle="modal" data-bs-target="#addAddressModal"><i class="fa fa-add"></i> + Add Address</button>
                                    </div>
                                    <address>
                                        <% if(addresses.length >= 1) { %>
                                            <% addresses.forEach(address => { %>
                                                <div class="EachaddressDiv p-3 mb-3">
                                                    <h5 class="fw-bold"><%= address.name %></h5>
                                                    <p>
                                                        <%= address.streetAddress %>, <%= address.locality %><br>
                                                    <%= address.city %>, <%= address.state %> - <%= address.pincode %><br>
                                                    Mobile : <span class="fw-bold "><%= address.mobile %></span><br></p>
                                                        <div class="">
                                                            <button class="check-btn sqr-btn editAdress" data-bs-toggle="modal" data-bs-target="#editAddressModal" onclick="editAddress('<%= address._id %>')"><i class="fa fa-edit"></i> Edit Address</button>
                                                            <button class="check-btn sqr-btn editAdress" onclick="removeAddress('<%= address._id %>')"><i class="fa fa-remove"></i> Remove Address</button>
                                                        </div>
                                                    </div>
                                            <% }); %>
                                        <% }else{ %>
                                            <div>
                                                <p class="text-center text-danger ">No addresses found</p>
                                            </div>
                                        <% } %>
                                    </address>
                                    <br>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="account-info" role="tabpanel">
                                <div class="myaccount-content">
                                    <div class="account-details-form">
                                        <form action="/changePassword" class="editProfDiv p-5" method="post" onsubmit="return validateChangePass()">
                                            <fieldset>
                                                <legend>Change Password</legend>
                                                <div class="single-input-item">
                                                    <label for="current-pwd">Current password (leave
                                                        blank to leave unchanged)</label>
                                                    <input type="password" name="existingPassword" id="current-pwd" />
                                                    <p id="current-pwdErr" class="text-danger "></p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="single-input-item">
                                                            <label for="new-pwd">New password (leave
                                                                blank to leave unchanged)</label>
                                                            <input type="password" name="newPassword" id="new-pwd" />
                                                            <p id="new-pwdErr" class="text-danger "></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="single-input-item">
                                                            <label for="confirm-pwd" >Confirm new
                                                                password</label>
                                                            <input type="password" id="confirm-pwd" />
                                                            <p id="confirm-pwdErr" class="text-danger "></p>
                                                        </div>
                                                    </div>
                                                    <p id="changeEmptyErr" class="text-danger "></p>
                                                </div>
                                            </fieldset>
                                            <div class="single-input-item d-flex  justify-content-center ">
                                                <button type="submit" class="check-btn sqr-btn">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- Single Tab Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Address Modal -->
        <div class="modal" id="addAddressModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">New Address</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                        <form action="/addAddress" method="post" onsubmit="return validateForm()">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name :</label>
                                <input type="text" class="form-control" id="nameId"
                                    name="name" placeholder="Enter Name">
                                    <p id="nameError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="mobile" class="form-label">Mobile :</label>
                                <input type="number" class="form-control" id="mobileId"
                                    name="mobile" placeholder="Enter Mobile number">
                                    <p id="mobileError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="pincode" class="form-label">Pincode :</label>
                                <input type="number" class="form-control" id="pincodeId"
                                    name="pincode" placeholder="Enter Pincode">
                                    <p id="pincodeError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="state" class="form-label">State :</label>
                                <input type="text" class="form-control" id="stateId"
                                    name="state" placeholder="Enter State">
                                    <p id="stateError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="street" class="form-label">Address :</label>
                                <input type="text" class="form-control" id="streetId"
                                    name="streetAddress" placeholder="eg. House No, Street, Area">
                                    <p id="streetError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="locality" class="form-label">Locality/ Town :</label>
                                <input type="text" class="form-control" id="localityId"
                                    name="locality" placeholder="Enter Locality">
                                    <p id="localityError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">City/ District :</label>
                                <input type="text" class="form-control" id="cityId"
                                    name="city" placeholder="Enter City">
                                    <p id="cityError" class="text-danger "></p>
                            </div>
                            <p id="adEmptyError" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit"  class="btn btn-primary">Save changes</button>
                </div>
                </form>
              </div>
            </div>
        </div>
        <!-- Add Address Modal End -->

        <!-- Edit Address Modal -->
        <div class="modal" id="editAddressModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Address</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    
                            <div class="mb-3">
                                <p id="addresId" hidden></p>
                                <label for="name" class="form-label">Name :</label>
                                <input type="text" class="form-control" id="editAdNameId"
                                    name="editName">
                                <p id="editNameError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="mobile" class="form-label">Mobile :</label>
                                <input type="number" class="form-control" id="editMobileId"
                                    name="editMobile" >
                                    <p id="editMobileError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="pincode" class="form-label">Pincode :</label>
                                <input type="number" class="form-control" id="editPincodeId"
                                    name="editPincode" >
                                    <p id="editPincodeError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="state" class="form-label">State :</label>
                                <input type="text" class="form-control" id="editStateId"
                                    name="editState" >
                                    <p id="editStateError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="street" class="form-label">Address :</label>
                                <input type="text" class="form-control" id="editStreetId"
                                    name="editStreetAddress" >
                                    <p id="editStreetAddressError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="locality" class="form-label">Locality/ Town :</label>
                                <input type="text" class="form-control" id="editLocalityId"
                                    name="editLocality" >
                                    <p id="editLocalityError" class="text-danger "></p>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">City/ District :</label>
                                <input type="text" class="form-control" id="editCityId"
                                    name="editCity" >
                                    <p id="editCityError" class="text-danger "></p>
                            </div>
                            <p id="editEmptyError" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="closeEdit" data-bs-dismiss="modal">Close</button>
                  <button type="submit"  class="btn btn-primary" onclick="saveEditAddress()" id="saveEditAddressId">Save changes</button>
                </div>
             
              </div>
            </div>
        </div>
        <!-- Edit Address Modal End -->

        <footer class="footer-area section-padding-1 border-top-3">
            <div class="container-fluid">
                <div class="footer-top pt-100 pb-60">
                    <div class="row">
                        <div class="footer-column footer-width-24">
                            <div class="footer-widget footer-about mb-30">
                                <a href="index.html">
                                    <img src="user/assets/images/logo/logo.png" alt="logo">
                                </a>
                                <p>Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptar</p>
                                <div class="social-icon-style-2 social-icon-hm4">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column footer-width-12">
                            <div class="footer-widget footer-info-list-2 mb-30">
                                <h3 class="footer-title">Company Link</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Help Center</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">The Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-14">
                            <div class="footer-widget footer-info-list-2 mb-30">
                                <h3 class="footer-title">Userful Link</h3>
                                <ul>
                                    <li><a href="#">Guides & Articles</a></li>
                                    <li><a href="#">Customer Reviews</a></li>
                                    <li><a href="#">Coupon Codes</a></li>
                                    <li><a href="#">Military Discount</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-19">
                            <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                                <h3 class="footer-title">Contact info</h3>
                                <ul>
                                    <li><i class="dlicon ui-2_time-clock"></i> Monday - Friday: 9:00 - 19:00</li>
                                    <li><i class="dlicon ui-1_email-83"></i> info@example.com</li>
                                    <li><i class="dlicon tech-2_rotate"></i> (+612) 2531 5600</li>
                                    <li><i class="dlicon ui-1_home-simple"></i> PO Box 1622 Colins Street West Victoria
                                        8077 Australia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-29 mb-30">
                            <div class="contact-page-map">
                                <div id="contact-map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838709675939!2d144.95320007668528!3d-37.817246734238516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1670477011653!5m2!1sen!2sus"
                                        style="border:0;width:100%;height:100%;" allowfullscreen=""
                                        loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-botoom">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright-2 text-center">
                                <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- All JS is here
============================================ -->
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        async function editUser () {
            const name = document.getElementById('editNameId')
            const phone = document.getElementById('editPhoneId')

            document.getElementById('editPhoneErr').innerHTML = ''
            document.getElementById('editNameErr').innerHTML = ''

            if(name.value.trim() === ''){
                document.getElementById('editNameErr').innerHTML = 'Enter a name'
                return false
            }
            
            if(phone.value.trim() === ''){
                console.log('phone');
                document.getElementById('editPhoneErr').innerHTML = 'Enter phone number'
                return false
            } else if (phone.value.length < 10){
                document.getElementById('editPhoneErr').innerHTML = 'Phone must be atleast 10 numbers'
                return false
            }

            document.getElementById('editPhoneErr').innerHTML = ''
            document.getElementById('editNameErr').innerHTML = ''

            const result = await Swal.fire({
                title: "Are you sure?",
                text: "change credentials?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirm"
            })

            if(result.isConfirmed){
                try{
                    const response = await axios.patch('/editProfile',{name : name.value, phone : phone.value})

                    if (response.data.loginRequired) {
                        window.location.href = '/login';
                    } else if (response.data.success) {
                        const close=document.getElementById('close')
                        close.click()

                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Profile Edited!",
                            showConfirmButton: false,
                            timer: 1800
                        }).then(()=>{
                            $('#dashboad').load('/myAccount #dashboad')
                        })
                    }
                }catch(error){
                    console.log(error.message);
                }
            }
            
        }

        async function validateChangePass(){
            const currentPass = document.getElementById('current-pwd').value
            const newPass = document.getElementById('new-pwd').value
            const confirmPass = document.getElementById('confirm-pwd').value

            document.getElementById('current-pwdErr').innerHTML = '';
            document.getElementById('new-pwdErr').innerHTML = '';
            document.getElementById('confirm-pwdErr').innerHTML = '';

            if(currentPass === '' && newPass === '' && confirmPass === ''){
                document.getElementById('changeEmptyErr').innerHTML = 'Fill all the fields';
                return false
            }

            if(currentPass === ''){
                document.getElementById('current-pwdErr').innerHTML = 'Enter Current Password';
                return false
            }

            if(newPass === ''){
                document.getElementById('new-pwdErr').innerHTML = 'Enter New Password';
                return false
            } else if(newPass.length < 7){
                document.getElementById('new-pwdErr').innerHTML = 'Password must be at least 7 characters';
                return false;
            }

            if(confirmPass === ''){
                document.getElementById('confirm-pwdErr').innerHTML = 'Enter Confirm Password';
                return false
            }
            
            if(newPass !== confirmPass){
                document.getElementById('confirm-pwdErr').innerHTML = 'Password does not match';
                return false
            }

            document.getElementById('current-pwdErr').innerHTML = '';
            document.getElementById('new-pwdErr').innerHTML = '';
            document.getElementById('confirm-pwdErr').innerHTML = '';
            document.getElementById('changeEmptyErr').innerHTML = '';

            const result = await Swal.fire({
                title: "Are you sure?",
                text: "Want to reset password",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirm"
            })

            if(result.isConfirmed) return true
        }

        function validateForm(){
            const name = document.getElementById('nameId').value.trim()
            const mobile = document.getElementById('mobileId').value.trim()
            const pincode = document.getElementById('pincodeId').value.trim()
            const state = document.getElementById('stateId').value.trim()
            const streetAddress = document.getElementById('streetId').value.trim()
            const locality = document.getElementById('localityId').value.trim()
            const city = document.getElementById('cityId').value.trim()

            document.getElementById('nameError').innerHTML = '';
            document.getElementById('mobileError').innerHTML = '';
            document.getElementById('pincodeError').innerHTML = '';
            document.getElementById('stateError').innerHTML = '';
            document.getElementById('streetError').innerHTML = '';
            document.getElementById('localityError').innerHTML = '';
            document.getElementById('cityError').innerHTML = '';

            if(name === '' && mobile === '' && pincode === '' && state === '' && streetAddress === '' && locality === '' && city === ''){
                document.getElementById('adEmptyError').innerHTML = 'Please fill all the fields';
                return false
            } 

            if(name === '' || /\d/.test(name) || /[^\w\s]/.test(name)){
                document.getElementById('nameError').innerHTML = 'Please enter a name';
                return false
            } 

            if (mobile === '') {
                document.getElementById("mobileError").innerHTML = 'Please enter your Mobile Number';
                return false;
            } else if(mobile.length < 10){
                document.getElementById("mobileError").innerHTML = 'Phone must be at least 10 numbers';
                return false
            }

            if (pincode === '') {
                document.getElementById("pincodeError").innerHTML = 'Please enter your Pincode';
                return false;
            }

            if (state === '') {
                document.getElementById("stateError").innerHTML = 'Please enter your state';
                return false;
            }

            if (streetAddress === '') {
                document.getElementById("streetError").innerHTML = 'Please enter your street Address';
                return false;
            }

            if (locality === '') {
                document.getElementById("localityError").innerHTML = 'Please enter your locality';
                return false;
            }

            if (city === '') {
                document.getElementById("cityError").innerHTML = 'Please enter your city';
                return false;
            }

            return true
        }

        async function editAddress(addressId) {
            try{
                document.getElementById('addresId').dataset.addresId=addressId
                const name = document.getElementById('editAdNameId')
                const mobile = document.getElementById('editMobileId')
                const pincode = document.getElementById('editPincodeId')
                const state = document.getElementById('editStateId')
                const streetAddress = document.getElementById('editStreetId')
                const locality = document.getElementById('editLocalityId')
                const city = document.getElementById('editCityId')

                const response = await axios.post('/loadEditAddress',{addressId})
                const data = response.data
                console.log(data);
                if(data){
                    name.value = response.data.findAddress.name
                    mobile.value = response.data.findAddress.mobile
                    pincode.value = response.data.findAddress.pincode
                    state.value = response.data.findAddress.state
                    streetAddress.value = response.data.findAddress.streetAddress
                    locality.value = response.data.findAddress.locality
                    city.value = response.data.findAddress.city
                }
            }catch(error){
                console.log(error.message);
            }
        }
       async function saveEditAddress() {
            const addressId=document.getElementById('addresId').dataset.addresId
            const name = document.getElementById('editAdNameId').value.trim()
            const mobile = document.getElementById('editMobileId').value.trim()
            const pincode = document.getElementById('editPincodeId').value.trim()
            const state = document.getElementById('editStateId').value.trim()
            const streetAddress = document.getElementById('editStreetId').value.trim()
            const locality = document.getElementById('editLocalityId').value.trim()
            const city = document.getElementById('editCityId').value.trim()

            document.getElementById('editNameError').innerHTML = '';
            document.getElementById('editMobileError').innerHTML = '';
            document.getElementById('editPincodeError').innerHTML = '';
            document.getElementById('editStateError').innerHTML = '';
            document.getElementById('editStreetAddressError').innerHTML = '';
            document.getElementById('editLocalityError').innerHTML = '';
            document.getElementById('editCityError').innerHTML = '';

            if(name === '' && mobile === '' && pincode === '' && state === '' && streetAddress === '' && locality === '' && city === ''){
                document.getElementById('editEmptyError').innerHTML = 'Please fill all the fields';
                return false
            } 

            if(name === '' || /\d/.test(name) || /[^\w\s]/.test(name)){
                document.getElementById('editNameError').innerHTML = 'Please enter a name';
                return false
            } 

            if (mobile === '') {
                document.getElementById("editMobileError").innerHTML = 'Please enter your Mobile Number';
                return false;
            } else if(mobile.length < 10){
                document.getElementById("editMobileError").innerHTML = 'Phone must be at least 10 numbers';
                return false
            }

            if (pincode === '') {
                document.getElementById("editPincodeError").innerHTML = 'Please enter your Pincode';
                return false;
            }

            if (state === '') {
                document.getElementById("editStateError").innerHTML = 'Please enter your state';
                return false;
            }

            if (streetAddress === '') {
                document.getElementById("editStreetAddressError").innerHTML = 'Please enter your street Address';
                return false;
            }

            if (locality === '') {
                document.getElementById("editLocalityError").innerHTML = 'Please enter your locality';
                return false;
            }

            if (city === '') {
                document.getElementById("editCityError").innerHTML = 'Please enter your city';
                return false;
            }

            const result = await Swal.fire({
                title: "Are you sure?",
                text: "Make changes in this address",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirm"
            })

            if(result.isConfirmed){
                try{
                    const response = await axios.patch('/saveEditAddress', { addressId, name: name, mobile: mobile, pincode: pincode,
                        state: state, streetAddress: streetAddress, locality: locality,city: city});

                    if (response.data.loginRequired) {
                        window.location.href = '/login';
                    } else if (response.data.success) {
                        const closeEdit = document.getElementById('closeEdit')
                        closeEdit.click()
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Address Edited!",
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result)=>{
                            $('#reloadaddress').load('/myAccount #reloadaddress');
                        })
                    }
                }catch(error){
                    console.log(error.message);
                }
            }
        }
            

        async function removeAddress(addressId) {
            const result = await Swal.fire({
                title: "Are you sure?",
                text: "Remove this Address",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Delete"
            })

            if(result.isConfirmed){
                try{
                    const response = await axios.patch('/removeAddress',{addressId})
                    
                    if (response.data.loginRequired) {
                        window.location.href = '/login';
                    } else if (response.data.success) {
                        $('#reloadaddress').load('/myAccount #reloadaddress');
                    }
                }catch(error){
                    console.log(error.message);
                }
            }
            
        }

        async function addMoney(){
            const amount = document.getElementById('addAmountId').value

            document.getElementById('addAmountErr').innerHTML = ""

            if(amount === ''){
                document.getElementById('addAmountErr').innerHTML = "Enter amount"
                return false
            }

            document.getElementById('addAmountErr').innerHTML = ""

            const response = await axios.patch('/addAmount',{amount})
            
            if(response.data.loginRequired){
                window.location.href = '/login'
            }else{

                if(response.data.success){
                    const Toast = Swal.mixin({
                        toast: true,
                        background : "#000000",
                        position: "bottom",
                        showConfirmButton: false,
                        width : "20vw",
                        timer: 4000,
                        timerProgressBar: true,
                    });

                    Toast.fire({
                        icon: "success",
                        title: "Amount added"
                    });

                    $('#walletArea').load('/myAccount #walletArea')
                }
            }

        }

    </script>

    <!-- Modernizer JS -->
    <script src="user/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="user/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="user/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="user/assets/js/vendor/bootstrap.min.js"></script>
    <script src="user/assets/js/plugins/owl-carousel.js"></script>
    <script src="user/assets/js/plugins/slick.js"></script>
    <script src="user/assets/js/plugins/jarallax.min.js"></script>
    <script src="user/assets/js/plugins/countdown.js"></script>
    <script src="user/assets/js/plugins/magnific-popup.js"></script>
    <script src="user/assets/js/plugins/instafeed.js"></script>
    <script src="user/assets/js/plugins/tilt.js"></script>
    <script src="user/assets/js/plugins/images-loaded.js"></script>
    <script src="user/assets/js/plugins/isotope.js"></script>
    <script src="user/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="user/assets/js/plugins/fullpage.js"></script>
    <script src="user/assets/js/plugins/jquery-ui.js"></script>
    <script src="user/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="user/assets/js/plugins/easyzoom.js"></script>
    <script src="user/assets/js/plugins/resizesensor.js"></script>
    <script src="user/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="user/assets/js/plugins/scrollup.js"></script>
    <script src="user/assets/js/plugins/select2.min.js"></script>
    <script src="user/assets/js/plugins/cookie.js"></script>
    <script src="user/assets/js/plugins/bpopup.js"></script>
    <script src="user/assets/js/plugins/wow.js"></script>
    <script src="user/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="user/assets/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/toro/toro/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Feb 2024 11:04:56 GMT -->

</html>